src/WebMethods/Xsds/B2B/LegacyToSterlingInvoiceXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EnvironmentId"/>
        <xs:element ref="Company"/>
        <xs:element ref="WebConfirmationNumber"/>
        <xs:element ref="OrderingDivision"/>
        <xs:element ref="GenerationNumber"/>
        <xs:element ref="LegacyOrderType"/>
        <xs:element ref="LegacyOrderNumber"/>
        <xs:element ref="InvoiceDistributionFlag"/>
        <xs:element ref="ShipFromDivision"/>
        <xs:element ref="CustomerEnvironmentID"/>
        <xs:element ref="CustomerDivision"/>
        <xs:element ref="CustomerNumber" minOccurs="0"/>
        <xs:element ref="ShipToSuffix" minOccurs="0"/>
        <xs:element ref="ShipToName" minOccurs="0"/>
        <xs:element ref="AttentionName" minOccurs="0"/>
        <xs:element ref="ShipToAddress1" minOccurs="0"/>
        <xs:element ref="ShipToAddress2" minOccurs="0"/>
        <xs:element ref="ShipToAddress3" minOccurs="0"/>
        <xs:element ref="ShipToCity" minOccurs="0"/>
        <xs:element ref="ShipToState" minOccurs="0"/>
        <xs:element ref="ShipToZIP" minOccurs="0"/>
        <xs:element ref="ShipToCountryCode" minOccurs="0"/>
        <xs:element ref="BillToSuffix" minOccurs="0"/>
        <xs:element ref="BillToName" minOccurs="0"/>
        <xs:element ref="BillToAddress1" minOccurs="0"/>
        <xs:element ref="BillToAddress2" minOccurs="0"/>
        <xs:element ref="BillToAddress3" minOccurs="0"/>
        <xs:element ref="BillToCity" minOccurs="0"/>
        <xs:element ref="BillToState" minOccurs="0"/>
        <xs:element ref="BillToZIP" minOccurs="0"/>
        <xs:element ref="BillToCountryCode" minOccurs="0"/>
        <xs:element ref="CustomerHeaderPONumber"/>
        <xs:element ref="ShipDate" minOccurs="0"/>
        <xs:element ref="HeaderComments" minOccurs="0"/>
        <xs:element ref="OrderedByName" minOccurs="0"/>
        <xs:element ref="OrderCreateDate" minOccurs="0"/>
        <xs:element ref="CurrencyCode"/>
        <xs:element ref="TotalShippableValue"/>
        <xs:element ref="TotalOrderValue"/>
        <xs:element ref="OrderSpecialCharges"/>
        <xs:element ref="TotalOrderFreight"/>
        <xs:element ref="TotalOrderTax"/>
        <xs:element ref="InvoicedDate"/>
        <xs:element ref="LDInvoiceNumber"/>
        <xs:element ref="ShipVia" minOccurs="0"/>
        <xs:element ref="CreditTerms"/>
        <xs:element ref="SalesTaxPercentage"/>
        <xs:element ref="SalesTaxAmount"/>
        <xs:element ref="InvoiceTotal"/>
        <xs:element ref="TotalDiscountAllowed"/>
        <xs:element ref="SCACNumber"/>
        <xs:element ref="CarrierNameDescription" minOccurs="0"/>
        <xs:element ref="TermsNetDays"/>
        <xs:element ref="TermsPercent"/>
        <xs:element ref="CashDiscountDays"/>
        <xs:element ref="DueDate"/>
        <xs:element ref="RemitToDUNSNumber"/>
        <xs:element ref="RemitToName"/>
        <xs:element ref="RemitAddress1"/>
        <xs:element ref="RemitAddress2"/>
        <xs:element ref="RemitCity"/>
        <xs:element ref="RemitState"/>
        <xs:element ref="RemitZip"/>
        <xs:element ref="LineItems"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvironmentId">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Company">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WebConfirmationNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderingDivision">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GenerationNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LegacyOrderType">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LegacyOrderNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InvoiceDistributionFlag">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipFromDivision">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerEnvironmentID">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerDivision">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToSuffix">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToName">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AttentionName">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToAddress1">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToAddress2">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToAddress3">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToCity">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToState">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToZIP">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipToCountryCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToSuffix">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToName">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToAddress1">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToAddress2">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToAddress3">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToCity">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToState">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToZIP">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BillToCountryCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerHeaderPONumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipDate">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HeaderComments">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderedByName">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderCreateDate">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CurrencyCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TotalShippableValue">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TotalOrderValue">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderSpecialCharges">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TotalOrderFreight">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TotalOrderTax">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InvoicedDate">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LDInvoiceNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipVia">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CreditTerms">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SalesTaxPercentage">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SalesTaxAmount">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InvoiceTotal">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TotalDiscountAllowed">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SCACNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierNameDescription">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TermsNetDays">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TermsPercent">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CashDiscountDays">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DueDate">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitToDUNSNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitToName">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitAddress1">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitAddress2">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitCity">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitState">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RemitZip">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LineItem" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LineItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="WebLineNumber"/>
        <xs:element ref="LegacyLineNumber"/>
        <xs:element ref="LineDistributionNumber"/>
        <xs:element ref="LegacyProductCode"/>
        <xs:element ref="CustomerProductCode"/>
        <xs:element ref="BaseUnitOfMeasure"/>
        <xs:element ref="OrderedQtyInBase"/>
        <xs:element ref="ShippableQtyInBase"/>
        <xs:element ref="BackOrderQtyInBase"/>
        <xs:element ref="PriceUnitOfMeasure"/>
        <xs:element ref="UnitPrice"/>
        <xs:element ref="LineDescription" minOccurs="0"/>
        <xs:element ref="PriceOverrideFlag"/>
        <xs:element ref="RequestedUnitOfMeasure"/>
        <xs:element ref="OrderedQtyInRequestedUoM"/>
        <xs:element ref="ShippableQtyInRequestedUoM"/>
        <xs:element ref="BackOrderQtyInRequestedUoM"/>
        <xs:element ref="CustomerLineSequenceNumber"/>
        <xs:element ref="CustomerLinePONumber"/>
        <xs:element ref="CustomerLineAccountNumber"/>
        <xs:element ref="CustomerLineField1" minOccurs="0"/>
        <xs:element ref="CustomerLineField2" minOccurs="0"/>
        <xs:element ref="CustomerLineField3" minOccurs="0"/>
        <xs:element ref="ShipFromBranch"/>
        <xs:element ref="LineNotes" minOccurs="0"/>
        <xs:element ref="LineTax"/>
        <xs:element ref="LineTotal"/>
        <xs:element ref="ShippableQtyLineTotal"/>
        <xs:element ref="LDOrderNumber"/>
        <xs:element ref="ManufacturerItemNumber"/>
        <xs:element ref="UnitWeight"/>
        <xs:element ref="WeightPerCode"/>
        <xs:element ref="ExtendedWeight"/>
        <xs:element ref="LineShipDate" minOccurs="0"/>
        <xs:element ref="FSCCertificationCode"/>
        <xs:element ref="SFICertificationCode"/>
        <xs:element ref="PEFCCertificationCode"/>
        <xs:element ref="LineSalesTaxPercentage"/>
        <xs:element ref="PromotionCode"/>
        <xs:element ref="AdjustedAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLineNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LegacyLineNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineDistributionNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LegacyProductCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerProductCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BaseUnitOfMeasure">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderedQtyInBase">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShippableQtyInBase">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BackOrderQtyInBase">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceUnitOfMeasure">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UnitPrice">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineDescription">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceOverrideFlag">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RequestedUnitOfMeasure">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderedQtyInRequestedUoM">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShippableQtyInRequestedUoM">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BackOrderQtyInRequestedUoM">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLineSequenceNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLinePONumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLineAccountNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLineField1">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLineField2">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerLineField3">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipFromBranch">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineNotes">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineTax">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineTotal">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShippableQtyLineTotal">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LDOrderNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ManufacturerItemNumber">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UnitWeight">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WeightPerCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ExtendedWeight">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineShipDate">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FSCCertificationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SFICertificationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PEFCCertificationCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LineSalesTaxPercentage">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PromotionCode">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AdjustedAmount">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>
</xs:schema>
