src/WebMethods/Liaison_to_WebMethods/xcomRequestEnvelope-Category.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Include the Category schema for the use of CategoryList and it's sub elements -->
	<xsd:include schemaLocation="xcomRequest-Category.xsd" />
	
	<!-- The Root of the Schema -->
	<xsd:element name="CategoryMessage">
		<xsd:complexType>
			<!-- BEGIN ELEMENT SECTION -->
			<xsd:sequence>
				<!-- Required List that will contain Category Batch Information -->
				<xsd:element ref="CategoryBatch" maxOccurs="1" minOccurs="1" />
			</xsd:sequence>
			<!--  END ELEMENT SECTION -->
			
			<!-- ATTRIBUTE SECTION -->
			
			<!-- SystemOfOrigin: Liaison system of origin (ex. Item Master Catalog) -->
			<xsd:attribute name="SystemOfOrigin" type="xsd:string" use="required" />
			
			<!-- PriorityAssignment: interactive or bulk -->
			<xsd:attribute name="PriorityAssignment" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="interactive" />
						<xsd:enumeration value="bulk" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- RequestMessageID: Generated by Liaison, 10 Digits in Length -->
			<xsd:attribute name="RequestMessageID" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- SystemOfDestination: xpedx system of destination (ex. NextGen) -->
			<xsd:attribute name="SystemOfDestination" type="xsd:string" use="required" />
			
			<!-- EnvironmentRelevance: Environment category is relevant to (ex. Test, Production)-->
			<xsd:attribute name="EnvironmentRelevance" type="xsd:string" use="required" />
			
			<!-- MessageType: type of message (ex. Item, Catalog, Attribute) -->
			<xsd:attribute name="MessageType" type="xsd:string" use="required" />
			
			<!-- END ATTRIBUTE SECTION -->
		</xsd:complexType>
	</xsd:element>

	<!-- Contains a at least 1 CategoryRecord element which is of type CategoryChanges -->
	<xsd:element name="CategoryBatch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CategoryRecord" type="CategoryChanges" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Type used to contain an CategoryList based of Category schema and record number assigned to it. -->
	<xsd:complexType name="CategoryChanges">
		<xsd:sequence>
			<!-- List containing category changes and updates -->
			<xsd:element ref="CategoryList" maxOccurs="1" minOccurs="1" />
		</xsd:sequence>
		
		<!-- Unique identifier used by the response message. -->
		<xsd:attribute name="RecordNumber" type="xsd:string" use="required" />
		
		<!-- CategoryID duplicated here for the response message -->
		<xsd:attribute name="CategoryIdentifier" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>