src/WebMethods/Liaison_to_WebMethods/xcomRequestEnvelope-Item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Include the ItemBatchFeed schema for the use of ItemList and it's sub elements -->
	<xsd:include schemaLocation="xcomRequestMessage-Item.xsd" />
	
	<!-- The Root of the Schema -->
	<xsd:element name="ItemMessage">
		<xsd:complexType>
			<!-- BEGIN ELEMENT SECTION -->
			<xsd:sequence>
				<!-- Required List that will contain Item Batch Information -->
				<xsd:element ref="ItemBatch" maxOccurs="1" minOccurs="1" />
			</xsd:sequence>
			<!--  END ELEMENT SECTION -->
			
			<!-- ATTRIBUTE SECTION -->
			
			<!-- SystemOfOrigin: Liaison system of origin (ex. Item Master Catalog) -->
			<xsd:attribute name="SystemOfOrigin" type="xsd:string" use="required" />
			
			<!-- PriorityAssignment: interactive or bulk -->
			<xsd:attribute name="PriorityAssignment" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="interactive" />
						<xsd:enumeration value="bulk" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- RequestMessageID: Generated by Liaison, 10 Digits in Length -->
			<xsd:attribute name="RequestMessageID" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- SystemOfDestination: xpedx system of destination (ex. NextGen) -->
			<xsd:attribute name="SystemOfDestination" type="xsd:string" use="required" />
			
			<!-- EnvironmentRelevance: Environment item is relevant to (ex. Test, Production)-->
			<xsd:attribute name="EnvironmentRelevance" type="xsd:string" use="required" />
			
			<!-- MessageType: type of message (ex. Item, Catalog, Attribute) -->
			<xsd:attribute name="MessageType" type="xsd:string" use="required" />
			
			<!-- END ATTRIBUTE SECTION -->
		</xsd:complexType>
	</xsd:element>

	<!-- Type used to contain an ItemList based of ItemBatchFeed.xsd and  record number assigned to it. -->
	<xsd:complexType name="ItemChanges">
		<xsd:sequence>
			<!-- List containing item changes and updates -->
			<xsd:element ref="ItemList" maxOccurs="1" minOccurs="1" />
		</xsd:sequence>
		
		<!-- Unique identifier used by the response message. -->
		<xsd:attribute name="RecordNumber" type="xsd:string" use="required" />
		
		<!-- ItemID duplicated here for the response message -->
		<xsd:attribute name="ItemIdentifier" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>

	</xsd:complexType>

	<!-- Contains a at least 1 ItemRecord element which is of type ItemChanges -->
	<xsd:element name="ItemBatch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ItemRecord" type="ItemChanges" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>