src/WebMethods/Liaison_to_WebMethods/xcomRequestEnvelope-Attribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Include the Attribute schema for the use of AttributeList and it's sub elements -->
    <xsd:include schemaLocation="xcomRequest-Attribute.xsd" />
    
    <!-- The Root of the Schema -->
	<xsd:element name="AttributeMessage">
		<xsd:complexType>
			<!-- BEGIN ELEMENT SECTION -->
			<xsd:sequence>
				<!-- Required List that will contain Attribute Batch Information -->
				<xsd:element ref="AttributeBatch" maxOccurs="1" minOccurs="1" />
			</xsd:sequence>
			<!--  END ELEMENT SECTION -->
			
			<!-- ATTRIBUTE SECTION -->
			
			<!-- SystemOfOrigin: Liaison system of origin (ex. Item Master Catalog) -->
			<xsd:attribute name="SystemOfOrigin" type="xsd:string" use="required" />
			
			<!-- PriorityAssignment: interactive or bulk -->
			<xsd:attribute name="PriorityAssignment" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="interactive" />
						<xsd:enumeration value="bulk" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- RequestMessageID: Generated by Liaison, 10 Digits in Length -->
			<xsd:attribute name="RequestMessageID" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			
			<!-- SystemOfDestination: xpedx system of destination (ex. NextGen) -->
			<xsd:attribute name="SystemOfDestination" type="xsd:string" use="required" />
			
			<!-- EnvironmentRelevance: Environment attribute is relevant to (ex. Test, Production)-->
			<xsd:attribute name="EnvironmentRelevance" type="xsd:string" use="required" />
			
			<!-- MessageType: type of message (ex. Item, Catalog, Attribute) -->
			<xsd:attribute name="MessageType" type="xsd:string" use="required" />
			
			<!-- END ATTRIBUTE SECTION -->
		</xsd:complexType>
	</xsd:element>

	<!-- Contains a at least 1 AttributeRecord element which is of type AttributeChanges -->
	<xsd:element name="AttributeBatch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AttributeRecord" type="AttributeChanges" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Type used to contain an AttributeList based of Attribute schema and  record number assigned to it. -->
	<xsd:complexType name="AttributeChanges">
		<xsd:sequence>
			<!-- List containing attribute changes and updates -->
			<xsd:element ref="AttributeList" maxOccurs="1" minOccurs="1" />
		</xsd:sequence>
		
		<!-- Unique identifier used by the response message. -->
		<xsd:attribute name="RecordNumber" type="xsd:string" use="required" />
		
		<!-- AttributeID duplicated here for the response message -->
		<xsd:attribute name="AttributeIdentifier" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>