src/WebMethods/Xsds/OrderPlace/OrderPlaceAndUpdateInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by International Paper (International Paper) -->
<!--W3C Schema generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WillCall">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebLineNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebHoldReason">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebHoldFlag">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebConfirmationNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnitPrice">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TransactionStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TransactionMessage">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalShippableValue">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalOrderValue">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalOrderFreight">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SystemIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SpecialChargeCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShippedQty">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShippableQtyInBase">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShippableLineTotal">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToZIP">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToSuffix">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToState">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToCountryCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToCity">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToAddress3">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToAddress2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipToAddress1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipFromDivision">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipFromBranch">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipDate">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipComplete">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequestedUnitOfMeasure">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequestedOrderQuantity">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PriceUnitOfMeasure">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PriceOverrideFlag">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderingDivision">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderedQtyInBase">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderedLineTotal">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderedByName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderTax">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderStatusComment">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderSpecialCharges">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderSource">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderCreateDate">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdjustmentAmount">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdjustmentAmountProcessCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdjustmentAmountStatusCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderHeaderKey">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderLockFlag">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NoBoSplit">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransactionStatus" minOccurs="0"/>
				<xs:element ref="TransactionMessage" minOccurs="0"/>
				<xs:element ref="SourceIndicator" minOccurs="0"/>
				<xs:element ref="EnvironmentId" minOccurs="0"/>
				<xs:element ref="CustomerEnvironmentId" minOccurs="0"/>
				<xs:element ref="Company" minOccurs="0"/>
				<xs:element ref="WebConfirmationNumber"/>
				<xs:element ref="OrderingDivision" minOccurs="0"/>
				<xs:element ref="LegacyOrderNumber" minOccurs="0"/>
				<xs:element ref="GenerationNumber" minOccurs="0"/>
				<xs:element ref="LegacyOrderType" minOccurs="0"/>
				<xs:element ref="WebHoldFlag" minOccurs="0"/>
				<xs:element ref="ShipFromDivision" minOccurs="0"/>
				<xs:element ref="CustomerDivision" minOccurs="0"/>
				<xs:element ref="CustomerNumber" minOccurs="0"/>
				<xs:element ref="ShipToSuffix" minOccurs="0"/>
				<xs:element ref="ShipToName" minOccurs="0"/>
				<xs:element ref="AttentionName" minOccurs="0"/>
				<xs:element ref="ShipToAddress1" minOccurs="0"/>
				<xs:element ref="ShipToAddress2" minOccurs="0"/>
				<xs:element ref="ShipToAddress3" minOccurs="0"/>
				<xs:element ref="ShipToCity" minOccurs="0"/>
				<xs:element ref="ShipToState" minOccurs="0"/>
				<xs:element ref="ShipToZIP" minOccurs="0"/>
				<xs:element ref="ShipToCountryCode" minOccurs="0"/>
				<xs:element ref="BillToSuffix" minOccurs="0"/>
				<xs:element ref="BillToName" minOccurs="0"/>
				<xs:element ref="BillToAddress1" minOccurs="0"/>
				<xs:element ref="BillToAddress2" minOccurs="0"/>
				<xs:element ref="BillToAddress3" minOccurs="0"/>
				<xs:element ref="BillToCity" minOccurs="0"/>
				<xs:element ref="BillToState" minOccurs="0"/>
				<xs:element ref="BillToZIP" minOccurs="0"/>
				<xs:element ref="BillToCountryCode" minOccurs="0"/>
				<xs:element ref="CustomerHeaderPONumber" minOccurs="0"/>
				<xs:element ref="OrderCode" minOccurs="0"/>
				<xs:element ref="ShipComplete" minOccurs="0"/>
				<xs:element ref="WillCall" minOccurs="0"/>
				<xs:element ref="ShipDate" minOccurs="0"/>
				<xs:element ref="HeaderComments" minOccurs="0"/>
				<xs:element ref="OrderedByName" minOccurs="0"/>
				<xs:element ref="OrderCreateDate" minOccurs="0"/>
				<xs:element ref="OrderSource" minOccurs="0"/>
				<xs:element ref="HeaderProcessCode" minOccurs="0"/>
				<xs:element ref="OrderStatus" minOccurs="0"/>
				<xs:element ref="OrderStatusComment" minOccurs="0"/>
				<xs:element ref="CurrencyCode" minOccurs="0"/>
				<xs:element ref="TotalShippableValue" minOccurs="0"/>
				<xs:element ref="TotalOrderValue" minOccurs="0"/>
				<xs:element ref="OrderSpecialCharges" minOccurs="0"/>
				<xs:element ref="TotalOrderFreight" minOccurs="0"/>
				<xs:element ref="OrderTax" minOccurs="0"/>
				<xs:element ref="SystemIdentifier" minOccurs="0"/>
				<xs:element ref="WebHoldReason" minOccurs="0"/>
				<xs:element ref="HeaderStatusCode" minOccurs="0"/>
				<xs:element ref="AdjustmentAmount" minOccurs="0"/>
				<xs:element ref="AdjustmentAmountProcessCode" minOccurs="0"/>
				<xs:element ref="AdjustmentAmountStatusCode" minOccurs="0"/>
				<xs:element ref="OrderHeaderKey" minOccurs="0"/>
				<xs:element ref="OrderLockFlag" minOccurs="0"/>
				<xs:element ref="NoBoSplit" minOccurs="0"/>
				<xs:element ref="LineItems"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineType">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineStatusCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineProcessCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineNotes">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineItems">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="LineItem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WebLineNumber"/>
				<xs:element ref="LegacyLineNumber" minOccurs="0"/>
				<xs:element ref="LineType" minOccurs="0"/>
				<xs:element ref="LineProcessCode" minOccurs="0"/>
				<xs:element ref="SpecialChargeCode" minOccurs="0"/>
				<xs:element ref="LegacyProductCode" minOccurs="0"/>
				<xs:element ref="CustomerProductCode" minOccurs="0"/>
				<xs:element ref="BaseUnitOfMeasure" minOccurs="0"/>
				<xs:element ref="OrderedQtyInBase" minOccurs="0"/>
				<xs:element ref="PriceUnitOfMeasure" minOccurs="0"/>
				<xs:element ref="UnitPrice" minOccurs="0"/>
				<xs:element ref="LineDescription" minOccurs="0"/>
				<xs:element ref="PriceOverrideFlag" minOccurs="0"/>
				<xs:element ref="RequestedUnitOfMeasure" minOccurs="0"/>
				<xs:element ref="RequestedOrderQuantity" minOccurs="0"/>
				<xs:element ref="ShippedQty" minOccurs="0"/>
				<xs:element ref="BackOrderQty" minOccurs="0"/>
				<xs:element ref="CustomerLineNumber" minOccurs="0"/>
				<xs:element ref="CustomerLinePONumber" minOccurs="0"/>
				<xs:element ref="CustomerUserField1" minOccurs="0"/>
				<xs:element ref="CustomerUserField2" minOccurs="0"/>
				<xs:element ref="CustomerUserField3" minOccurs="0"/>
				<xs:element ref="ShipFromBranch" minOccurs="0"/>
				<xs:element ref="LineNotes" minOccurs="0"/>
				<xs:element ref="ShippableLineTotal" minOccurs="0"/>
				<xs:element ref="OrderedLineTotal" minOccurs="0"/>
				<xs:element ref="ShippableQtyInBase" minOccurs="0"/>
				<xs:element ref="BackOrderQtyInBase" minOccurs="0"/>
				<xs:element ref="CustLineAccNumber" minOccurs="0"/>
				<xs:element ref="AdjustDollarAmount" minOccurs="0"/>
				<xs:element ref="CouponCode" minOccurs="0"/>
				<xs:element ref="LineStatusCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineDescription">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegacyProductCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegacyOrderType">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegacyOrderNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegacyLineNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HeaderStatusCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HeaderProcessCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HeaderComments">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GenerationNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnvironmentId">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerUserField3">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerUserField2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerUserField1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerProductCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerLinePONumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerLineNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerHeaderPONumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerEnvironmentId">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerDivision">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustLineAccNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CurrencyCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CouponCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Company">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToZIP">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToSuffix">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToState">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToCountryCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToCity">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToAddress3">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToAddress2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillToAddress1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BaseUnitOfMeasure">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BackOrderQtyInBase">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BackOrderQty">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AttentionName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdjustDollarAmount">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
