src/WebMethods/Xsds/Data Loads/CustomerXRefBatchFeed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Prasanth Kumar (Sterling) -->
<!--W3C Schema generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerXRefList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerXRef"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerXRef">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ProcessCode" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MasterProductCode" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LegacyUoM" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LegacyItemNumber" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LegacyCustomerNumber" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="EnvironmentId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerUoMConversionFactor" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerUoM" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerSpecificDescription" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerItemNumber" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerExclusiveItem" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CustomerDivision" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CompanyCode" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
