src/WebMethods/Xsds/Data Loads/Entitlement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EntitlementRuleDetailList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitlementRuleDetail" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Reset" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRuleDetailItemList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitlementRuleDetailItem" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Reset" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRuleDetailItem">
		<xs:complexType>
			<xs:attribute name="Operation" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Manage"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ItemID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="6181182"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UnitOfMeasure" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M_BOX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRuleDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitlementRuleDetailItemList"/>
			</xs:sequence>
			<xs:attribute name="InclusionFlag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SequenceNo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SourceType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRuleAssignmentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitlementRuleAssignment" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Reset" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRuleAssignment">
		<xs:complexType>
			<xs:attribute name="OrganizationCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="xpedx"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CustomerID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="90-0002500844-000-M-XX-B"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntitlementRule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntitlementRuleDetailList"/>
				<xs:element ref="EntitlementRuleAssignmentList"/>
			</xs:sequence>
			<xs:attribute name="Description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CDI_M_90-0002500844-000-M-XX-B"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EffectiveFromDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2013-08-24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EffectiveToDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2038-08-23"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EntitlementRuleID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CDI_M_90-0002500844"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OrganizationCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="xpedx"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Purpose" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BUYING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StartWithAllCatalogItems" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
