src/WebMethods/Xsds/Data Loads/YIFWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="YIFWebServiceDefinitions" targetNamespace="http://yantra.com/yantrawebservices" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://yantra.com/yantrawebservices" xmlns:WL5G3N2="java:com.yantra.interop.services.webservices.rpc.ejb" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.yantra.interop.services.webservices.rpc.ejb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="YIFWebServiceException"/>
      <xs:element name="YIFWebServiceException" type="java:YIFWebServiceException" xmlns:java="java:com.yantra.interop.services.webservices.rpc.ejb"/>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://yantra.com/yantrawebservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="priceListCreation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="envString" type="xs:string"/>
            <xs:element name="apiString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="priceListCreationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="b2bOrderPlace">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="envString" type="xs:string"/>
            <xs:element name="apiString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="b2bOrderPlaceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="b2bStockCheck">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="envString" type="xs:string"/>
            <xs:element name="apiString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="b2bStockCheckResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invoiceFeed">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="envString" type="xs:string"/>
            <xs:element name="apiString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invoiceFeedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="legacyOrderUpdate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="envString" type="xs:string"/>
            <xs:element name="apiString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="legacyOrderUpdateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="priceListCreation">
    <WL5G3N0:part element="WL5G3N1:priceListCreation" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="priceListCreationResponse">
    <WL5G3N0:part element="WL5G3N1:priceListCreationResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="YIFWebServiceException">
    <WL5G3N0:part element="WL5G3N2:YIFWebServiceException" name="YIFWebServiceException"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="b2bOrderPlace">
    <WL5G3N0:part element="WL5G3N1:b2bOrderPlace" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="b2bOrderPlaceResponse">
    <WL5G3N0:part element="WL5G3N1:b2bOrderPlaceResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="b2bStockCheck">
    <WL5G3N0:part element="WL5G3N1:b2bStockCheck" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="b2bStockCheckResponse">
    <WL5G3N0:part element="WL5G3N1:b2bStockCheckResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="invoiceFeed">
    <WL5G3N0:part element="WL5G3N1:invoiceFeed" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="invoiceFeedResponse">
    <WL5G3N0:part element="WL5G3N1:invoiceFeedResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="legacyOrderUpdate">
    <WL5G3N0:part element="WL5G3N1:legacyOrderUpdate" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="legacyOrderUpdateResponse">
    <WL5G3N0:part element="WL5G3N1:legacyOrderUpdateResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="yantrawebservice">
    <WL5G3N0:operation name="priceListCreation" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:priceListCreation"/>
      <WL5G3N0:output message="WL5G3N1:priceListCreationResponse"/>
      <WL5G3N0:fault message="WL5G3N1:YIFWebServiceException" name="YIFWebServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="b2bOrderPlace" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:b2bOrderPlace"/>
      <WL5G3N0:output message="WL5G3N1:b2bOrderPlaceResponse"/>
      <WL5G3N0:fault message="WL5G3N1:YIFWebServiceException" name="YIFWebServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="b2bStockCheck" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:b2bStockCheck"/>
      <WL5G3N0:output message="WL5G3N1:b2bStockCheckResponse"/>
      <WL5G3N0:fault message="WL5G3N1:YIFWebServiceException" name="YIFWebServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="invoiceFeed" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:invoiceFeed"/>
      <WL5G3N0:output message="WL5G3N1:invoiceFeedResponse"/>
      <WL5G3N0:fault message="WL5G3N1:YIFWebServiceException" name="YIFWebServiceException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="legacyOrderUpdate" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:legacyOrderUpdate"/>
      <WL5G3N0:output message="WL5G3N1:legacyOrderUpdateResponse"/>
      <WL5G3N0:fault message="WL5G3N1:YIFWebServiceException" name="YIFWebServiceException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="YIFWebServiceSoapBinding" type="WL5G3N1:yantrawebservice">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="priceListCreation">
      <WL5G3N3:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="YIFWebServiceException">
        <WL5G3N3:fault name="YIFWebServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="b2bOrderPlace">
      <WL5G3N3:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="YIFWebServiceException">
        <WL5G3N3:fault name="YIFWebServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="b2bStockCheck">
      <WL5G3N3:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="YIFWebServiceException">
        <WL5G3N3:fault name="YIFWebServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="invoiceFeed">
      <WL5G3N3:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="YIFWebServiceException">
        <WL5G3N3:fault name="YIFWebServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="legacyOrderUpdate">
      <WL5G3N3:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="YIFWebServiceException">
        <WL5G3N3:fault name="YIFWebServiceException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="YIFWebService">
    <WL5G3N0:port binding="WL5G3N1:YIFWebServiceSoapBinding" name="yantrawebservice">
      <WL5G3N3:address location="http://localhost:7001/yantrawebservices/yantrawebservice"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>